muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ffb4e011-e37b-45b0-b967-f971ba7a9302" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="5f383d61-b385-4bbc-ac1d-bfe345ba80b1" >
		<http:listener doc:name="Listener" doc:id="57394ca5-391c-4eaf-a05d-696473125cb7" config-ref="HTTP_Listener_config" path="/Listener"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="6b81a38e-e491-47e0-8715-4925356ef5f4" />
	</flow>
</mule>
